<div>
  <h2>Productos</h2>
  <ul>
    {{#each products.docs}}
      <li>
        id:
        {{products.docs.id}}
        <br />
        title:
        {{products.docs.title}}
        <br />
        description:
        {{products.docs.description}}
        <br />
        price:
        {{products.docs.price}}
        <br />
        thumbnail:
        {{products.docs.thumbnail}}
        <br />
        code:
        {{products.docs.code}}
        <br />
        stock:
        {{products.docs.stock}}
        <br />
        status:
        {{products.docs.status}}
        <br />
        category:
        {{products.docs.category}}

      </li>
      <br />
    {{/each}}</ul>
</div>